name: Semgrep-Scan

on:
  push:
    branches: ["main"]  # mainへのプッシュ時実行
  pull_request:
    branches: ["main"]  # mainへのpullリクエスト時実行

jobs:
  semgrep-task:
    runs-on: ubuntu-latest
    # 権限の設定：Securityタブに結果を書き込むために必要
    permissions:
      security-events: write

    container:
      image: semgrep/semgrep
    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # リポジトリのコードを仮想環境にコピー

      - name: Run Semgrep scan
        # --error 引数により、脆弱性発見時にジョブを失敗させる
        # run: semgrep scan --config="p/java" --error
        run: semgrep scan --config="p/java" --sarif --output=semgrep.sarif

      - name: Upload SARIF file
        # GitHub公式の機能を使って、SARIFファイルをGitHubにアップロードする
        uses: github/codeql-action/upload-sarif@v3
        # 前のステップで作成したファイルを指定
        with:
          sarif_file: semgrep.sarif
        # スキャンが失敗しても（脆弱性が見つかっても）アップロードを実行する設定
        if: always()